---
import type { KeycapArticleType } from '../../lib/contentful';

export interface Props {
  article: KeycapArticleType;
}

const {
  title,
  img,
  material,
  description,
  profile,
  startDate,
  endDate,
  url,
  additionalUrl,
  status,
  warningText,
  isNew
} = Astro.props.article;
---

<article class:list={{ new: isNew }}>
  {
    isNew && (
      <div class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
            clip-rule="evenodd"
          />
        </svg>

        <span>Nouveau</span>
      </div>
    )
  }
  <figure>
    <img
      src={`${img}?fit=fill&w=500&h=300&fm=webp&q=70`}
      alt={title}
      loading="lazy"
      decoding="async"
      height="300"
      width="500"
    />
    <figcaption>
      <dl>
        <dt><span>Nom :</span></dt>
        <dd><h4>{title}</h4></dd>
      </dl>
      <hr />
      <section>
        <dl>
          <dt>Profil :</dt>
          <dd>{profile}</dd>
        </dl>
        <dl>
          <dt>Material :</dt>
          <dd>{material}</dd>
        </dl>
      </section>
      {
        status && (
          <>
            <hr />
            <section>
              <>
                <dl>
                  <dt>Statut :</dt>
                  <dd class="status">{status}</dd>
                </dl>
              </>
            </section>
            {(startDate || endDate) && (
              <>
                <hr />
                <section>
                  {startDate && (
                    <dl>
                      <dt>Date début :</dt>
                      <dd>{startDate}</dd>
                    </dl>
                  )}
                  {endDate && (
                    <dl>
                      <dt>Date fin :</dt>
                      <dd>{startDate}</dd>
                    </dl>
                  )}
                </section>
              </>
            )}
          </>
        )
      }
      {
        description && (
          <>
            <hr />
            <section>{description}</section>
          </>
        )
      }
      {
        warningText && (
          <>
            <hr />
            <section>
              <span>Attention : {warningText}</span>
            </section>
          </>
        )
      }
      <hr />
      <section>
        <div>
          {
            additionalUrl && (
              <a href={additionalUrl} class="secondary" target="_blank">
                <button>Kit secondaire</button>
              </a>
            )
          }
          <a href={url} target="_blank">
            <button>En savoir +</button>
          </a>
        </div>
      </section>
    </figcaption>
  </figure>
</article>

<style lang="postcss">
  article {
    @apply relative flex h-fit flex-col rounded-lg border border-slate-200 bg-white transition hover:border-slate-300 dark:border-slate-700 dark:bg-slate-900 dark:hover:border-slate-600;

    &.new {
      @apply rounded-xl border-[3px] border-amber-400;

      > div {
        @apply absolute -inset-4 flex h-fit w-fit shrink-0 items-center rounded-full bg-amber-400 fill-white p-3 text-xs font-bold uppercase text-white lg:p-2 lg:pl-3 lg:pr-4;

        > span {
          @apply hidden lg:inline;
        }
      }
    }
  }

  section {
    @apply flex flex-col space-y-1 p-4 text-sm text-slate-700 dark:text-slate-200;

    &:last-child {
      @apply pt-0;
    }
  }

  dt > span {
    @apply sr-only;
  }

  section {
    > dl {
      @apply flex w-full items-center;
    }
    dt {
      @apply basis-2/5 font-semibold text-slate-900 dark:text-slate-100;
    }

    dd {
      @apply basis-3/5 text-slate-600 dark:text-slate-300;

      &.status {
        @apply mb-1 flex basis-auto items-center rounded bg-indigo-700 p-1 px-2 text-xs font-bold uppercase text-white dark:border dark:border-indigo-700 dark:bg-indigo-700/10 dark:text-indigo-100;
      }
    }

    span {
      @apply w-fit rounded bg-red-600 px-2 py-1 font-bold text-white dark:border dark:border-red-700 dark:bg-red-600/10 dark:text-red-100;
    }
  }

  h4 {
    @apply p-4 text-center text-base font-medium text-slate-800 dark:text-slate-100;
  }

  hr {
    @apply h-px border-none bg-slate-100 dark:bg-slate-700;
  }

  button {
    @apply w-full self-end rounded-md bg-teal-500 p-2 font-semibold text-white transition hover:bg-teal-600 focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 dark:border dark:border-teal-500 dark:bg-teal-500/10 dark:text-teal-100 dark:hover:bg-teal-500/20;
  }

  img {
    @apply w-full rounded-t-lg border-b border-b-slate-100 bg-slate-300 object-cover dark:border-b-slate-800 dark:bg-slate-700;
  }

  div {
    @apply flex flex-col pt-4 max-lg:gap-y-2 lg:flex-row lg:gap-x-2;

    a {
      @apply flex-1;

      &.secondary > button {
        @apply bg-teal-50 p-2 text-teal-800 transition hover:bg-teal-100/50 dark:bg-teal-100/20 dark:text-teal-200 dark:hover:bg-teal-100/30;
      }
    }
  }

  svg {
    @apply h-6 w-6;
  }
</style>
