---
import { Image } from "@astrojs/image/components";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { group } from "radash";

import Layout from "../layouts/Layout.astro";
import {
  contentfulClient,
  KeycapArticleContentfulInterface,
  KeycapArticleType,
  ProfileContentfulInterface,
  TopWarningContentfulInterface,
} from "../lib/contentful";

import GoTop from "../components/GoTop.astro";

import { OGImageRoute } from "astro-og-canvas";

export const { getStaticPaths, get } = OGImageRoute({
  // Tell us the name of your dynamic route segment.
  // In this case it’s `route`, because the file is named `[...route].ts`.
  param: "index",

  // A collection of pages to generate images for.
  // This can be any map of paths to data, not necessarily a glob result.
  pages: {
    index: {
      title: "Plaketdebeur",
      description: "Plaketdebeur",
    },
  },

  // For each page, this callback will be used to customize the OpenGraph
  // image. For example, if `pages` was passed a glob like above, you
  // could read values from frontmatter.
  getImageOptions: () => ({
    title: "Plaketdebeur",
    description: "Plaketdebeur",
  }),
});

const articlesEntries =
  await contentfulClient.getEntries<KeycapArticleContentfulInterface>({
    content_type: "article",
  });

const navigationLinksEntries =
  await contentfulClient.getEntries<ProfileContentfulInterface>({
    content_type: "keycaps-profile",
  });

const warningTopEntry =
  await contentfulClient.getEntries<TopWarningContentfulInterface>({
    content_type: "warning-top",
  });

const navigationLinks: Array<ProfileContentfulInterface> =
  navigationLinksEntries.items.map((n) => {
    const { title, slug } = n.fields;
    return { title, slug };
  });

const articles: Array<KeycapArticleType> = articlesEntries.items.map((e) => {
  const {
    img,
    title,
    profile,
    description,
    material,
    status,
    startDate,
    endDate,
    url,
    warning,
    isNew,
  } = e.fields;

  return {
    img: img.fields.file.url,
    title,
    profile: profile.fields.title,
    profileId: profile.fields.slug,
    description,
    material,
    status,
    startDate: startDate ? new Date(startDate).toLocaleDateString() : undefined,
    endDate: endDate ? new Date(endDate).toLocaleDateString() : undefined,
    url,
    warning,
    isNew,
  };
});

const warningContent = documentToHtmlString(
  warningTopEntry.items[0].fields.richWarning
);

const articleByProfile = group(articles, (a) => a.profile);
---

<Layout title="Welcome to Astro.">
  <nav>
    <ul class="space-x-3">
      {
        navigationLinks.map((n) => (
          <li class="inline">
            <a href={`#${n.slug}`}>{n.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <main>
    <header>
      <div set:html={warningContent} />
    </header>
    {
      Object.keys(articleByProfile).map((a) => (
        <section id={navigationLinks.find((n) => a === n.title)?.slug}>
          <span>{a}</span>
          {articleByProfile[a]?.map((a) => (
            <article>
              <Image
                src={a.img}
                height={400}
                aspectRatio="16:9"
                format="avif"
                alt={a.title}
              />
              <span>{a.title}</span>
              <span>{a.profile}</span>
            </article>
          ))}
        </section>
      ))
    }
    <GoTop />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
