---
import { Picture } from "@astrojs/image/components";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { group } from "radash";

import Layout from "../layouts/Layout.astro";
import {
  contentfulClient,
  KeycapArticleContentfulInterface,
  KeycapArticleType,
  ProfileContentfulInterface,
  TopWarningContentfulInterface,
} from "../lib/contentful";

import GoTop from "../components/GoTop.astro";

const articlesEntries =
  await contentfulClient.getEntries<KeycapArticleContentfulInterface>({
    content_type: "article",
  });

const navigationLinksEntries =
  await contentfulClient.getEntries<ProfileContentfulInterface>({
    content_type: "keycaps-profile",
  });

const warningTopEntry =
  await contentfulClient.getEntries<TopWarningContentfulInterface>({
    content_type: "warning-top",
  });

const navigationLinks: Array<ProfileContentfulInterface> =
  navigationLinksEntries.items.map((n) => {
    const { title, slug } = n.fields;
    return { title, slug };
  });

const articles: Array<KeycapArticleType> = articlesEntries.items.map((e) => {
  const {
    img,
    title,
    profile,
    description,
    material,
    status,
    startDate,
    endDate,
    url,
    warning,
    isNew,
  } = e.fields;

  return {
    img: img.fields.file.url,
    title,
    profile: profile.fields.title,
    profileId: profile.fields.slug,
    description,
    material,
    status,
    startDate: startDate ? new Date(startDate).toLocaleDateString() : undefined,
    endDate: endDate ? new Date(endDate).toLocaleDateString() : undefined,
    url,
    warning,
    isNew,
  };
});

const warningContent = documentToHtmlString(
  warningTopEntry.items[0].fields.richWarning
);

const articleByProfile = group(articles, (a) => a.profile);
---

<Layout title="Welcome to Astro.">
  <nav>
    <ul class="space-x-3">
      {
        navigationLinks.map((n) => (
          <li class="inline">
            <a href={`#${n.slug}`}>{n.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <main>
    <header>
      <div set:html={warningContent} />
    </header>
    {
      Object.keys(articleByProfile).map((a) => (
        <section id={navigationLinks.find((n) => a === n.title)?.slug}>
          <span>{a}</span>
          {articleByProfile[a]?.map((a) => (
            <article>
              <Picture
                src={a.img}
                widths={[200, 400, 800]}
                aspectRatio="4:3"
                sizes="(max-width: 800px) 100vw, 800px"
                alt={a.title}
              />
              <span>{a.title}</span>
              <span>{a.profile}</span>
            </article>
          ))}
        </section>
      ))
    }
    <GoTop />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
