---
import Svg from '@jasikpark/astro-svg-loader';

import { styles } from './styles.css';

import {
  contentfulClient,
  SocialNetworkContentfulInterface
} from '../../../lib/contentful';

interface SocialIconInterface {
  title: string;
  url: string;
}

const socialLinksEntries =
  await contentfulClient.getEntries<SocialNetworkContentfulInterface>({
    content_type: 'socialNetwork'
  });

const socialLinks: Array<SocialIconInterface> = socialLinksEntries.items.map(
  (n) => {
    const { title, url } = n.fields;
    return { title, url };
  }
);
---

<section class={styles.section.base}>
  <a href="/informations/" class={styles.section.a}>Informations</a>
  <div class={styles.section.div}>
    {
      socialLinks.map((s) => (
        <a href={s.url} target="_blank" aria-label={`${s.title} link`}>
          <Svg
            src={import(`../../../assets/${s.title}.svg?raw`)}
            class={styles.section.svg}
          />
        </a>
      ))
    }
  </div>
</section>
