---
import Navigation from '../components/core/Navigation/Navigation.astro';
import { styles } from './styles.css';
import './../styles/reset.css';

import type { ProfileContentfulInterface } from '../lib/contentful';
import type { NavigationLayoutEnum } from '../types/enum';

export interface Props {
  layout: NavigationLayoutEnum;
  title: string;
  navigationLinks?: Array<ProfileContentfulInterface>;
}

const { title, layout, navigationLinks } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Azertykeycaps est un site communautaire répertoriant les derniers keysets possédant une compatibilité AZERTY (ou ISO-FR) dans le hobby des claviers mécaniques."
    />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:image" content={`/api/og.png`} />
    <meta name="twitter:image" content={`/api/og.png`} />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Azerty Keycaps - Annuaire de keycaps françaises"
    />
    <meta
      property="og:description"
      content="Azertykeycaps est un site communautaire répertoriant les derniers keysets possédant une compatibilité AZERTY (ou ISO-FR) dans le hobby des claviers mécaniques."
    />
    <meta property="og:locale" content="fr_FR" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta property="twitter:url" content={Astro.site} />
    <meta
      name="twitter:title"
      content="Azerty Keycaps - Annuaire de keycaps françaises"
    />
    <meta
      name="twitter:description"
      content="Azertykeycaps est un site communautaire répertoriant les derniers keysets possédant une compatibilité AZERTY (ou ISO-FR) dans le hobby des claviers mécaniques."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/favicon.png" />

    <title>Azerty Keycaps - {title}</title>
  </head>
  <body>
    <a href="https://deltakeyco.com/" target="_blank">
      <header>
        <ul class="scroll">
          <li>GMK BLANC SUR NOIR</li>
          <li>IC EN COURS SUR GEEKHACK</li>
          <li>CLIQUEZ ICI POUR EN SAVOIR +</li>
        </ul>
        <ul class="scroll">
          <li>GMK BLANC SUR NOIR</li>
          <li>IC EN COURS SUR GEEKHACK</li>
          <li>CLIQUEZ ICI POUR EN SAVOIR +</li>
        </ul>
      </header></a
    >
    <Navigation layout={layout} navigationLinks={navigationLinks} />
    <main class={styles.layout.main}>
      <slot name="main" />
      <slot name="goto" />
    </main>
  </body>
</html>

<style>
  header {
    display: flex;
    overflow: hidden;
    gap: 2rem;
    position: relative;
    user-select: none;
    background-color: black;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    padding: 1.25rem;
    font-family: 'Open Cherry', sans-serif;
  }

  ul {
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
    gap: 2rem;
    justify-content: space-around;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem)); /* match 1 rem to gap above */
    }
  }

  .scroll {
    animation: scroll 20s linear infinite;
  }
</style>
