---
import Navigation from '../components/core/Navigation/Navigation.astro';
import { styles } from './styles.css';
import './../styles/reset.css';

import type { ProfileContentfulInterface } from '../lib/contentful';
import type { NavigationLayoutEnum } from '../types/enum';

export interface Props {
  layout: NavigationLayoutEnum;
  title: string;
  navigationLinks?: Array<ProfileContentfulInterface>;
}

const { title, layout, navigationLinks } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <script
      async
      src="https://azertykeycaps-analytics-eehi16tqe-kzm.vercel.app/script.js"
      data-website-id="767b5e54-5d36-4f30-b703-9f42086dfbc7"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Azertykeycaps est un site communautaire répertoriant les derniers keysets possédant une compatibilité AZERTY (ou ISO-FR) dans le hobby des claviers mécaniques."
    />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:image" content={`/api/og.png`} />
    <meta name="twitter:image" content={`/api/og.png`} />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Azerty Keycaps - Annuaire de keycaps françaises"
    />
    <meta
      property="og:description"
      content="Azertykeycaps est un site communautaire répertoriant les derniers keysets possédant une compatibilité AZERTY (ou ISO-FR) dans le hobby des claviers mécaniques."
    />
    <meta property="og:locale" content="fr_FR" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta property="twitter:url" content={Astro.site} />
    <meta
      name="twitter:title"
      content="Azerty Keycaps - Annuaire de keycaps françaises"
    />
    <meta
      name="twitter:description"
      content="Azertykeycaps est un site communautaire répertoriant les derniers keysets possédant une compatibilité AZERTY (ou ISO-FR) dans le hobby des claviers mécaniques."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/favicon.png" />

    <title>Azerty Keycaps - {title}</title>
  </head>
  <body>
    <Navigation layout={layout} navigationLinks={navigationLinks} />
    <main class={styles.layout.main}>
      <slot name="main" />
      <slot name="goto" />
    </main>
  </body>
</html>
